<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756550602162-haogr9i12nvuurdqvldmesorilau99uq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756550602162-haogr9i12nvuurdqvldmesorilau99uq</string>
	<key>API_KEY</key>
	<string>AIzaSyDmFD2DrfDY8D_MlErTU_kW-lwWHGyJFig</string>
	<key>GCM_SENDER_ID</key>
	<string>756550602162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.syncapps.manpower</string>
	<key>PROJECT_ID</key>
	<string>manpower-340609</string>
	<key>STORAGE_BUCKET</key>
	<string>manpower-340609.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756550602162:ios:2d0a1f5d77786f7125e8ab</string>
</dict>
</plist>